In [6]:
import numpy as np
import pandas as pd

#Webscraping libraries
import requests
# from splinter import Browser
from bs4 import BeautifulSoup

#For text manipulation
import unicodedata

#Pickle!
import pickle

#Suppress warnings from showing
import warnings
warnings.filterwarnings('ignore')

In [7]:
def create_sql_table(dataframe, cursor, table_name, unique=True, verbose=True):

    '''
    Takes a dataframe and sqlite cursor and creates
    a table version of that dataframe
    in the sql database that the cursor is on
    '''
    #Get the column names (inc index)
    index_name = [dataframe.index.name]
    index_type = [dataframe.index.dtype]

    #If there's no specific name for the index, then give it a generic one
    if index_name == [None]:
        index_name = ['TableIndex']
        #Also assume that it's an integer primary key
        index_type = ['TEXT']

    columns = list(dataframe.columns)
    column_names = ", ".join(columns)
    columns = [f'{table_name}ID'] + index_name + columns

    #Get the data types of each
    column_types = [dataframe[i].dtype for i in dataframe.columns]

    #Transform the column types into SQL form
    type_mapper = {np.dtype('int64'): 'INTEGER',
                   np.dtype('float64'): 'REAL',
                   np.dtype('O'): 'TEXT'}

    column_types = [type_mapper[i] for i in column_types]
    column_types = ['INTEGER PRIMARY KEY'] + index_type + column_types

    #Zip the names and types together
    column_zip = list(zip(columns, column_types))

    cols_with_types = ""
    for i in column_zip:
        new_words = f'{i[0]} {i[1]}, '
        cols_with_types += new_words
    cols_with_types = cols_with_types[:-2]

    #If we have specified unique constraint, reflect this in the command
    if unique==True:
        sql_command = f"CREATE TABLE {table_name} ({cols_with_types}, unique ({column_names}));"
    else:
        sql_command = f"CREATE TABLE {table_name} ({cols_with_types});"

    if verbose==True:
        print(sql_command)

    #Include a try/except in case this is running for a second time...
    try:
        cursor.execute(sql_command)
        print('\nNew table added')
    except:
        print('\nTable not added - possibly already exists')

In [8]:
def populate_sql_from_dataframe(dataframe, sql_table, cursor, verbose=False):

    '''
    Takes a dataframe and the name of an sql table, and adds the dataframe
    rows to the bottom of the sql table associated with the cursor

    '''

    #Get the name of the index
    index_name = [dataframe.index.name]
    #If there's no specific name for the index, then give it a generic one
    if index_name == [None]:
        index_name = ['TableIndex']

    #Isolate dataframe columns and create a single string containing them
    columns = index_name + list(dataframe.columns)
    column_string = ', '.join(columns)

    #Iterate through the rows in the dataframe
    for i in range(len(dataframe)):
        try:
            index = dataframe.index[i]
            row = dataframe.iloc[i]
            #Isolate the values in each row
            values = [index] + [dataframe.iloc[i][col] for col in dataframe.columns]
            #Put inverted commas around text objects
            values_strings = [f'"{i}"' if type(i)==str else f'{i}' for i in values]
            #Combine all values into single string
            values_string = ", ".join(values_strings)

            #Create the command...
            command = f'''INSERT INTO {sql_table} ({column_string})
                       VALUES ({values_string});
                       '''
            if verbose==True:
                print(command)
            #And excecute it...
            cursor.execute(command)
        except:
            print(f'Error on row {i} - you may be trying to upload a duplicate row')

In [9]:

def sql(query, cursor):
    '''
    Takes an SQL query string, and outputs a
    dataframe representation of the query result.
    '''
    #Execute the sql query
    cursor.execute(query)

    #Get the query into a dataframe and set columns
    df_temp = pd.DataFrame(cursor.fetchall())
    df_temp.columns = [x[0] for x in cursor.description]

    #Set the sql id as the dataframe index
    index_column = df_temp.columns[0]
    df_temp.set_index(index_column, drop=True, inplace=True)

    return df_temp

In [10]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
results = requests.get(url).json()

#We create a blank dataframe to store team information
df_teams = pd.DataFrame(columns = ['TeamID','Team','ShortName','Strength'])

#We loop through all the team data taking the required information
for i in results['teams']:
    ID = i['id']
    team = i['name']
    short_name = i['short_name']
    strength = i['strength']

    df_temp = pd.DataFrame({'TeamID':[ID],
                            'Team':[team],
                            'ShortName':[short_name],
                            'Strength':[strength]})

    df_teams = pd.concat([df_teams, df_temp])

#We set the TeamID as the index for the dataframe
df_teams.set_index('TeamID',drop=True,inplace=True)


#Bring in the 'elements' dictionary from the json file
#This is part containing player informaion
players_json = results['elements']

#We create an empty dataframe with the columns we want
df_players = pd.DataFrame(columns = ['PlayerCode','PlayerID','FirstName',
                                     'WebName','Team','Position'])

#We should create a function that will remove accents from player names
#e.g. "à" should become "a", and so forth. This will help with commentary
#recognition later...
def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

#We iterate through each of the players in the json file...
#...taking the information we want from it
for i in range(len(players_json)):
    code = players_json[i]['code']
    ID = players_json[i]['id']
    first = remove_accents(players_json[i]['first_name'])
    web = remove_accents(players_json[i]['web_name'])
    team = players_json[i]['team']
    position = players_json[i]['element_type']

    df_temp = pd.DataFrame({'PlayerCode':[code],
                            'PlayerID':[ID],
                            'FirstName':[first],
                            'WebName':[web],
                            'Team':[team],
                            'Position':[position]})

    df_players = pd.concat([df_players, df_temp])

#We set the playerID as the index for the dataframe
df_players.set_index('PlayerID',drop=True,inplace=True)

#We have a list of teams and positions taken from site commentary...
teams = ['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton and Hove Albion',
         'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leicester City',
         'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United',
         'Norwich City', 'Sheffield United', 'Southampton', 'Tottenham Hotspur',
         'Watford', 'West Ham United', 'Wolverhampton Wanderers']

#We also add the commentary names to the teams dataframe
df_teams['CommentName'] = teams


positions = ['GKP','DEF','MID','FWD']

#We then update the columns with these strings as required
df_players['Team'] = df_players['Team'].map(lambda x: teams[x-1])
df_players['Position'] = df_players['Position'].map(lambda x: positions[x-1])
df_players['CommentName'] = df_players['FirstName'].map(str) + ' ' + df_players['WebName'].map(str)


#We need to amend some full names in cases where player goes by single name
#e.g. 'Sokratis'
def single_name_update(name):
    #Check if any player's name is just the same name twice
    split = name.split()
    #For players who have the same name twice e.g. 'Sokratis'
    if split[0] == split[1]:
        return ' '.join(split[1:])
    #For players who have two names twice e.g. 'David Luis'
    if (len(split)==4) & (split[:2] == split[2:]):
        return ' '.join(split[2:])

    return name

df_players['CommentName'] = df_players['CommentName'].map(lambda x: single_name_update(x))

In [15]:
#Create the database 'fpl.db' (fantasy premier league!)
import sqlite3
conn = sqlite3.connect('fpl_akshay.db')
#Instantiate a cursor
c = conn.cursor()

In [16]:
create_sql_table(df_teams, c, table_name = 'TeamsBasic', verbose=True)
conn.commit()

CREATE TABLE TeamsBasic (TeamsBasicID INTEGER PRIMARY KEY, TeamID int64, Team TEXT, ShortName TEXT, Strength TEXT, CommentName TEXT, unique (Team, ShortName, Strength, CommentName));

New table added

In [17]:
populate_sql_from_dataframe(df_teams, 'TeamsBasic', c, verbose=True)
conn.commit()

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (1, "Arsenal", "ARS", 4, "Arsenal");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (2, "Aston Villa", "AVL", 3, "Aston Villa");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (3, "Bournemouth", "BOU", 3, "Bournemouth");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (4, "Brentford", "BRE", 3, "Brighton and Hove Albion");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (5, "Brighton", "BHA", 3, "Burnley");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (6, "Burnley", "BUR", 2, "Chelsea");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (7, "Chelsea", "CHE", 3, "Crystal Palace");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (8, "Crystal Palace", "CRY", 3, "Everton");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (9, "Everton", "EVE", 3, "Leicester City");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (10, "Fulham", "FUL", 3, "Liverpool");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (11, "Liverpool", "LIV", 4, "Manchester City");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (12, "Luton", "LUT", 2, "Manchester United");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (13, "Man City", "MCI", 5, "Newcastle United");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (14, "Man Utd", "MUN", 4, "Norwich City");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (15, "Newcastle", "NEW", 4, "Sheffield United");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (16, "Nott'm Forest", "NFO", 3, "Southampton");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (17, "Sheffield Utd", "SHU", 2, "Tottenham Hotspur");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (18, "Spurs", "TOT", 3, "Watford");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (19, "West Ham", "WHU", 3, "West Ham United");

INSERT INTO TeamsBasic (TeamID, Team, ShortName, Strength, CommentName)
                       VALUES (20, "Wolves", "WOL", 3, "Wolverhampton Wanderers");

In [25]:
def PlayerAPI(player):
    '''
    Takes the player's code, and returns the
    API JSON file associated with them.
    '''

    url = f'https://fantasy.premierleague.com/api/element-summary/{player}/'
    return requests.get(url).json()

In [26]:
def PlayerHistory(player):
    '''
    Takes the player's code, and returns the
    API JSON file associated with their game
    history from the current season.
    '''
    json_file = PlayerAPI(player)
    return json_file['history']

In [27]:
def PlayerAPIStats(player):
    '''
    Takes a playerID and outputs a dataframe of
    the player's statistics derived from the FPL API
    - value
    - total_points
    - minutes
    - bps
    - clean_sheets
    - selected
    - transfers in (net)
    '''
    #Get the JSON file for the player
    history = PlayerHistory(player)

    #Extract the data from this JSON file
    playerID = [int(player) for i in history]
    gameweeks = [i['round'] for i in history]
    dates = [i['kickoff_time'][:10] for i in history]
    points = [i['total_points'] for i in history]
    value = [i['value']/10 for i in history]
    minutes = [i['minutes'] for i in history]
    bps = [i['bps'] for i in history]
    cs = [i['clean_sheets'] for i in history]
    saves = [i['saves'] for i in history]
    selected = [i['selected'] for i in history]
    transfers = [i['transfers_balance'] for i in history]

    df_temp = pd.DataFrame({'PlayerID':playerID,
                            'GameWeek':gameweeks,
                            'Date':dates,
                            'Points':points,
                            'Price':value,
                            'MinutesPlayed':minutes,
                            'CleanSheet':cs,
                            'Saves':saves,
                            'BPS':bps,
                            'SelectedBy':selected,
                            'NetTransfersIn':transfers})

    return df_temp

def PlayersAPIStats(players, gameweeks=None):
    '''
    Takes a list of playerIDs a list of gameweeks
    and outputs a dataframe of the player's statistics
    derived from the FPL API for those weeks
    - points
    - price
    - bps
    - selected
    - transfers in (net)
    '''
    #If no gameweeks specified, then use all
    #gameweeks in the retured JSON file
    if gameweeks == None:
        gameweeks = list(range(1,PlayerAPIStats(players[0])['GameWeek'].max()+1))

    #Create a blank dataframe
    cols = ['PlayerID', 'GameWeek', 'Date', 'Points', 'Price',
            'BPS', 'SelectedBy', 'NetTransfersIn']
    df_temp = pd.DataFrame(columns=cols)

    #Iterate through the players and add their stats to the dataframe
    for i in players:
        new_rows = PlayerAPIStats(i)
        df_temp = pd.concat([df_temp, new_rows])

    #Remove rows we don't want
    df_temp = df_temp.loc[df_temp['GameWeek'].isin(gameweeks)]

    #Make everything numeric
    df_temp = df_temp.apply(pd.to_numeric, errors='ignore')

    #Reset the index
    df_temp.reset_index(inplace=True, drop=True)

    return df_temp

In [28]:
df_api_stats = PlayersAPIStats(list(df_players.index))
create_sql_table(df_api_stats, c, 'PlayerAPIStats')

CREATE TABLE PlayerAPIStats (PlayerAPIStatsID INTEGER PRIMARY KEY, TableIndex TEXT, PlayerID INTEGER, GameWeek INTEGER, Date TEXT, Points INTEGER, Price REAL, BPS INTEGER, SelectedBy INTEGER, NetTransfersIn INTEGER, MinutesPlayed REAL, CleanSheet REAL, Saves REAL, unique (PlayerID, GameWeek, Date, Points, Price, BPS, SelectedBy, NetTransfersIn, MinutesPlayed, CleanSheet, Saves));

New table added

In [29]:
populate_sql_from_dataframe(df_api_stats, 'PlayerAPIStats', c)
conn.commit()

In [30]:
create_sql_table(df_players, c, 'PlayersBasic')
populate_sql_from_dataframe(df_players, 'PlayersBasic', c, verbose=True)
conn.commit()

CREATE TABLE PlayersBasic (PlayersBasicID INTEGER PRIMARY KEY, PlayerID int64, PlayerCode TEXT, FirstName TEXT, WebName TEXT, Team TEXT, Position TEXT, CommentName TEXT, unique (PlayerCode, FirstName, WebName, Team, Position, CommentName));

New table added
INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (1, 232223, "Folarin", "Balogun", "Arsenal", "FWD", "Folarin Balogun");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (2, 58822, "Cedric", "Cedric", "Arsenal", "DEF", "Cedric");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (3, 153256, "Mohamed", "M.Elneny", "Arsenal", "MID", "Mohamed M.Elneny");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (4, 438098, "Fabio", "Fabio Vieira", "Arsenal", "MID", "Fabio Vieira");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (5, 226597, "Gabriel", "Gabriel", "Arsenal", "DEF", "Gabriel");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (6, 219847, "Kai", "Havertz", "Arsenal", "MID", "Kai Havertz");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (8, 205651, "Gabriel", "G.Jesus", "Arsenal", "FWD", "Gabriel G.Jesus");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (9, 85955, "Jorge Luiz", "Jorginho", "Arsenal", "MID", "Jorge Luiz Jorginho");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (10, 440854, "Jakub", "Kiwior", "Arsenal", "DEF", "Jakub Kiwior");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (11, 479683, "Marcus", "Marquinhos", "Arsenal", "MID", "Marcus Marquinhos");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (12, 444145, "Gabriel", "Martinelli", "Arsenal", "MID", "Gabriel Martinelli");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (13, 205533, "Eddie", "Nketiah", "Arsenal", "FWD", "Eddie Nketiah");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (14, 184029, "Martin", "Ødegaard", "Arsenal", "MID", "Martin Ødegaard");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (15, 167199, "Thomas", "Thomas", "Arsenal", "MID", "Thomas");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (16, 195735, "Nicolas", "Pepe", "Arsenal", "MID", "Nicolas Pepe");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (17, 225321, "Aaron", "Ramsdale", "Arsenal", "GKP", "Aaron Ramsdale");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (18, 115918, "Runar Alex", "Runarsson", "Arsenal", "GKP", "Runar Alex Runarsson");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (19, 223340, "Bukayo", "Saka", "Arsenal", "MID", "Bukayo Saka");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (20, 462424, "William", "Saliba", "Arsenal", "DEF", "William Saliba");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (22, 209289, "Emile", "Smith Rowe", "Arsenal", "MID", "Emile Smith Rowe");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (24, 192895, "Kieran", "Tierney", "Arsenal", "DEF", "Kieran Tierney");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (25, 223723, "Takehiro", "Tomiyasu", "Arsenal", "DEF", "Takehiro Tomiyasu");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (26, 116216, "Leandro", "Trossard", "Arsenal", "MID", "Leandro Trossard");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (29, 198869, "Benjamin", "White", "Arsenal", "DEF", "Benjamin White");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (30, 84450, "Granit", "Xhaka", "Arsenal", "MID", "Granit Xhaka");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (31, 206325, "Oleksandr", "Zinchenko", "Arsenal", "DEF", "Oleksandr Zinchenko");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (113, 154561, "David", "Raya", "Arsenal", "GKP", "David Raya");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (540, 204480, "Declan", "Rice", "Arsenal", "MID", "Declan Rice");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (578, 200641, "Reiss", "Nelson", "Arsenal", "MID", "Reiss Nelson");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (585, 445122, "Jurrien", "J.Timber", "Arsenal", "DEF", "Jurrien J.Timber");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (646, 463748, "Karl", "Hein", "Arsenal", "GKP", "Karl Hein");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (32, 106468, "Alexandre", "Alex Moreno", "Aston Villa", "DEF", "Alexandre Alex Moreno");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (34, 215711, "Leon", "Bailey", "Aston Villa", "MID", "Leon Bailey");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (35, 195546, "Emiliano", "Buendia", "Aston Villa", "MID", "Emiliano Buendia");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (36, 199796, "Matty", "Cash", "Aston Villa", "DEF", "Matty Cash");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (37, 101184, "Calum", "Chambers", "Aston Villa", "DEF", "Calum Chambers");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (38, 84583, "Philippe", "Coutinho", "Aston Villa", "MID", "Philippe Coutinho");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (39, 221239, "Keinan", "Davis", "Aston Villa", "FWD", "Keinan Davis");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (40, 151589, "Leander", "Dendoncker", "Aston Villa", "MID", "Leander Dendoncker");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (41, 165659, "Diego Carlos", "Diego Carlos", "Aston Villa", "DEF", "Diego Carlos");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (42, 101188, "Lucas", "Digne", "Aston Villa", "DEF", "Lucas Digne");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (43, 230046, "Douglas Luiz", "Douglas Luiz", "Aston Villa", "MID", "Douglas Luiz");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (44, 476344, "Jhon", "Duran", "Aston Villa", "FWD", "Jhon Duran");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (45, 123354, "Kortney", "Hause", "Aston Villa", "DEF", "Kortney Hause");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (46, 490094, "Tim", "Iroegbunam", "Aston Villa", "MID", "Tim Iroegbunam");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (47, 226944, "Boubacar", "Kamara", "Aston Villa", "MID", "Boubacar Kamara");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (48, 199798, "Ezri", "Konsa", "Aston Villa", "DEF", "Ezri Konsa");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (49, 98980, "Emiliano", "Martinez", "Aston Villa", "GKP", "Emiliano Martinez");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (50, 122806, "John", "McGinn", "Aston Villa", "MID", "John McGinn");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (51, 149484, "Tyrone", "Mings", "Aston Villa", "DEF", "Tyrone Mings");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (53, 111782, "Robin", "Olsen", "Aston Villa", "GKP", "Robin Olsen");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (54, 481624, "Jaden", "Philogene", "Aston Villa", "MID", "Jaden Philogene");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (55, 232653, "Jacob", "J.Ramsey", "Aston Villa", "MID", "Jacob J.Ramsey");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (56, 122775, "Morgan", "Sanson", "Aston Villa", "MID", "Morgan Sanson");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (57, 248164, "Viljami", "Sinisalo", "Aston Villa", "GKP", "Viljami Sinisalo");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (58, 166989, "Youri", "Tielemans", "Aston Villa", "MID", "Youri Tielemans");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (59, 110504, "Bertrand", "Bertrand Traore", "Aston Villa", "MID", "Bertrand Traore");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (60, 178301, "Ollie", "Watkins", "Aston Villa", "FWD", "Ollie Watkins");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (61, 213345, "Wesley", "Wesley", "Aston Villa", "FWD", "Wesley");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (584, 244954, "Pau", "Pau", "Aston Villa", "DEF", "Pau");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (599, 243557, "Moussa", "Diaby", "Aston Villa", "MID", "Moussa Diaby");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (618, 549068, "Omari", "Kellyman", "Aston Villa", "MID", "Omari Kellyman");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (670, 462381, "Filip", "Marschall", "Aston Villa", "GKP", "Filip Marschall");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (672, 245414, "Nicolo", "Zaniolo", "Aston Villa", "MID", "Nicolo Zaniolo");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (686, 516159, "Oliwier", "Zych", "Aston Villa", "GKP", "Oliwier Zych");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (699, 171101, "Clement", "Lenglet", "Aston Villa", "DEF", "Clement Lenglet");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (62, 444180, "Jaidon", "Anthony", "Bournemouth", "MID", "Jaidon Anthony");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (63, 168991, "Philip", "Billing", "Bournemouth", "MID", "Philip Billing");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (64, 111317, "David", "Brooks", "Bournemouth", "MID", "David Brooks");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (65, 158499, "Ryan", "Christie", "Bournemouth", "MID", "Ryan Christie");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (66, 155408, "Lewis", "L.Cook", "Bournemouth", "MID", "Lewis L.Cook");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (67, 244085, "Siriki", "Siriki", "Bournemouth", "MID", "Siriki");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (68, 81012, "Ryan", "Fredericks", "Bournemouth", "DEF", "Ryan Fredericks");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (69, 463981, "James", "Hill", "Bournemouth", "DEF", "James Hill");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (70, 235530, "Lloyd", "Kelly", "Bournemouth", "DEF", "Lloyd Kelly");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (71, 444183, "Gavin", "Kilkenny", "Bournemouth", "MID", "Gavin Kilkenny");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (72, 222683, "Justin", "Kluivert", "Bournemouth", "MID", "Justin Kluivert");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (73, 128309, "Jamal", "Lowe", "Bournemouth", "MID", "Jamal Lowe");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (74, 133845, "Emiliano", "Marcondes", "Bournemouth", "MID", "Emiliano Marcondes");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (75, 223911, "Chris", "Mepham", "Bournemouth", "DEF", "Chris Mepham");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (76, 128340, "Kieffer", "Moore", "Bournemouth", "FWD", "Kieffer Moore");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (77, 69752, "Norberto", "Neto", "Bournemouth", "GKP", "Norberto Neto");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (78, 533463, "Dango", "O.Dango", "Bournemouth", "MID", "Dango O.Dango");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (79, 156687, "Ben", "Pearson", "Bournemouth", "MID", "Ben Pearson");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (80, 32259, "Darren", "Randolph", "Bournemouth", "GKP", "Darren Randolph");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (81, 156685, "Joe", "Rothwell", "Bournemouth", "MID", "Joe Rothwell");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (82, 437730, "Antoine", "Semenyo", "Bournemouth", "FWD", "Antoine Semenyo");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (83, 221466, "Marcos", "Senesi", "Bournemouth", "DEF", "Marcos Senesi");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (84, 54469, "Adam", "Smith", "Bournemouth", "DEF", "Adam Smith");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (85, 154566, "Dominic", "Solanke", "Bournemouth", "FWD", "Dominic Solanke");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (86, 201658, "Marcus", "Tavernier", "Bournemouth", "MID", "Marcus Tavernier");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (87, 424044, "Hamed", "Hamed Traore", "Bournemouth", "MID", "Hamed Traore");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (88, 229600, "Mark", "Travers", "Bournemouth", "GKP", "Mark Travers");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (89, 477580, "Illia", "Zabarnyi", "Bournemouth", "DEF", "Illia Zabarnyi");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (595, 544877, "Milos", "Kerkez", "Bournemouth", "DEF", "Milos Kerkez");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (607, 215531, "Ionut", "Radu", "Bournemouth", "GKP", "Ionut Radu");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (619, 474772, "Ben", "Greenwood", "Bournemouth", "DEF", "Ben Greenwood");

INSERT INTO PlayersBasic (PlayerID, PlayerCode, FirstName, WebName, Team, Position, CommentName)
                       VALUES (643, 232980, "Max", "Aarons", "Bournemouth", "DEF", "Max Aarons");
